$phwidth :400px;
$phheight:$phwidth*2;
$phthick :$phwidth/10;

.bt{
    border: solid red 1px;
}

.df{
    display: flex;
    align-items: center;
}

*,*::after,*::before{
    padding: 0; margin: 0;box-sizing: border-box;
    background: none;
}
main *{
    transform-style: preserve-3d;
}
main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    perspective: 2000px;
    .Phone{
        position: absolute;
        top: 50%;
        left: 50%;
        @media screen and (max-width:768px){
            width: 400px;
            height: 800px;
        }
        @media screen and (min-width:768px){
            width: 90vw;
            height: 55vw;
        }
        transform: translate(-50%,-50%) translateZ(-800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
        .phoneSide{
            position: absolute;
            // background: rgb(143, 143, 143);
        }
        .PhoneFront,.PhoneBack{
            width: 100%;
            height: 100%;
            border-radius: 40px;
        }
        .PhoneFront{
            transform: translatez($phthick/2);
            background: rgb(20, 20, 20);
            .screen{
                width: 93%;
                height: 96%;
                border-radius: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: rgb(143, 143, 143);
            }
            .topBar{
                @media screen and (min-width:768px){
                    display: none;
                }    
                width: 45%;
                height: 6%;
                background: rgb(20, 20, 20);
                border-radius: 20px;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%);
                @extend.df;
                justify-content: space-evenly;
                .camera{
                    width: 12px;
                    height: 12px;
                    background: rgb(43, 43, 43);
                    border-radius: 50%;
                    @extend.df;
                    justify-content: center;
                    .lenz{
                        width: 70%;
                        height: 70%;
                        border-radius: 50%;
                        background: rgb(0, 0, 63);

                    }
                }
                .speaker{
                    width: 50%;
                    height: 6px;
                    border-radius: 10px;
                    background: rgb(36, 36, 36);
                }

            }
        }
        .PhoneBack{
            transform: translateZ($phthick/-2) rotateY(180deg);
            @media screen and (max-width:768px){
                background: rgb(51,51,51);
                background: linear-gradient(338deg, rgba(51,51,51,1) 0%, rgba(97,97,97,1) 100%);
            }
            @media screen and (min-width:768px){
                background: rgb(60,60,60);
                background: linear-gradient(338deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
            }

            .Applelogo{
                width: 100px;
                height: 100px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 70px;
            }
            .cameraSection{
                @media screen and (min-width:768px){
                    display: none;
                } 
                width: 180px;
                height: 180px;
                position: absolute;
                top: 50px;
                left: 50px;
                display: flex;
                // border: solid red 1px;
                transform-style: preserve-3d;
                transform: translateZ(5px);
                .cameraSides{
                    position: absolute;
                    background: rgb(53, 53, 53);
                    border: solid 2px rgb(49, 49, 49);
                    // transform: translateZ(5px);
                }
                .frontside{
                    width: 100%;
                    height: 100%;
                    transform: translateZ(5px);
                    border-radius: 20px;
                    .lens1,.lens2,.lens3{
                        width: 78px;
                        height: 78px;
                        border-radius: 50%;
                        background: rgb(37, 37, 37);
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .outer{
                            width: 80%;
                            height: 80%;
                            border-radius: 50%;
                            background: rgb(0, 0, 0);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .inner{
                                width: 80%;
                                height: 80%;
                                border-radius: 50%;
                                background: rgb(19, 19, 19);
                            }
                        }
                    }
                    .lens1{
                        top: 10px;
                        left: 10px;
                    }
                    .lens2{
                        bottom: 10px;
                        left: 10px;
                    }
                    .lens3{
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                    }
                }
                .leftside,.rightside{
                    width: 10px;
                    height: 100%;
                }
                .topside,.bottomside{
                    width: 100%;
                    height: 10px;
                }
                .bottomside{
                    transform: rotateX(-90deg) translateZ(172.5px);
                }
                .leftside{
                    transform: rotateY(-90deg) translateZ(5px);
                }
                .rightside{
                    transform: rotateY(90deg) translateZ(172.5px);
                }
                .topside{
                    transform: rotateX(90deg) translateZ(5px);
                }
            }
        }
        .PhoneTop,.PhoneBottom{
            width: calc(100% - 80px);
            height: $phthick;
            background: rgb(170, 170, 170);
            .leftCorner{
                transform: translateX(50%) rotateY(-90deg) translateX(-40px) translateZ(-80px);
            }
            .rightCorner{
                transform: translateX(50%) rotateY(0deg) translateX(0px) translateZ(-40px);
            }
        }
        .PhoneTop{
            transform: translateY(-$phthick/2) rotateX(90deg) translate(40px) rotateZ(180deg);
        }
        .leftCorner{
            left: -80px;
        }
        .rightCorner{
            right: 0px;
        }
        
        .corner{
            position: absolute;
            width: 2.5px;
            height:  $phthick;
                div{
                    background: rgb(109, 109, 109);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    @for $i from 0 through 30 {
                        &:nth-child(#{$i}){
                            transform: rotateY($i*3deg) translatez(40px);
                        }
                    }
                }
        }
        .PhoneBottom{
            bottom: 0;
            transform: translateY(20px) rotateX(-90deg) translate(40px);
        }
        .PhoneRight,.PhoneLeft{
            width: 40px;
            height: calc(100% - 80px);
            background: rgb(170, 170, 170);
        }
        .PhoneRight{
            transform: translateX(-20px) rotateY(-90deg) translateY(40px);
            left: 0;
            .powerbtn,.volumbtn{
                position: absolute;
                left: 50%;
                width: 20px;
                transform: translateX(-50%) translateZ(5px) rotateX(0deg);
                transition: 0.3s;
                >div{
                    position: absolute;
                    background: rgb(70, 70, 70);
                    transform-style: flat;
                    label{
                        display: block;
                        width: 100%;
                        height: 100%;
                        transform: translateZ(1px);
                        background: rgb(0, 10, 41);
                        cursor: pointer;
                    }
                }
                .volumesideRight,.volumesideLeft,.volumesideFront{
                    display: flex;
                    flex-direction: column;
                    label{
                        height: 50%;
                    }
                }

            }
            .powerbtn{
                top: 40px;
                height: 50px;
                // border: solid red 1px;
                .powersideFront{
                    width: 100%;
                    height: 100%;
                }
                .powersideRight,.powersideLeft{
                    width: 5px;
                    height: 100%;
                }
                .powersideRight{
                    transform: rotateY(90deg) translate(50%) translateZ(17.5px);
                }
                .powersideLeft{
                    transform: rotateY(90deg) translateX(50%) translateZ(-2.5px);
                }
                .powersideBottom,.powersideTop{
                    width: 20px;
                    height: 5px;
                }
                .powersideTop{
                    transform:  rotateX(90deg) translateZ(2.5px) translateY(-2.5px);
                }
                .powersideBottom{
                    transform:  rotateX(90deg) translateZ(-47.5px) translateY(-2.5px);
                }
            }
            .volumbtn{
                top: 100px;
                height: 100px;
                // border: solid red 1px;
                .volumesideFront{
                    width: 100%;
                    height: 100%;
                }
                .volumesideRight,.volumesideLeft{
                    width: 5px;
                    height: 100%;
                }
                .volumesideRight{
                    transform: rotateY(90deg) translate(50%) translateZ(17.5px);
                }
                .volumesideLeft{
                    transform: rotateY(90deg) translateX(50%) translateZ(-2.5px);
                }
                .volumesideBottom,.volumesideTop{
                    width: 20px;
                    height: 5px;
                }
                .volumesideTop{
                    transform:  rotateX(90deg) translateZ(2.5px) translateY(-2.5px);
                }
                .volumesideBottom{
                    transform:  rotateX(90deg) translateZ(-97.5px) translateY(-2.5px);
                }
            }
        }
        .PhoneLeft{
            transform: translateX(20px) rotateY(90deg) translateY(40px);
            right: 0;
        }
    }
}
//-------------------------------------------------------
#topView:checked~main .Phone{
    transform: translate(-50%,-50%) translateZ(-800px) rotateX(-35deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
    transition:0.6s
}
#rightView:checked~main .Phone{
    transform: translate(-50%,-50%) translateZ(-800px) rotateX(0deg) rotateY(-35deg) rotateZ(0deg) translateY(0px);
    transition:0.6s
}
#bottomView:checked~main .Phone{
    transform: translate(-50%,-50%) translateZ(-800px) rotateX(35deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
    transition:0.6s
}
#leftView:checked~main .Phone{
    transform: translate(-50%,-50%) translateZ(-800px) rotateX(0deg) rotateY(35deg) rotateZ(0deg) translateY(0px);
    transition:0.6s
}
#behindView:checked~main .Phone{
    transform: translate(-50%,-50%) translateZ(-800px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateY(0px);
    transition:0.6s
}
#frontView:checked~main .Phone{
    transform: translate(-50%,-50%) translateZ(-800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
    transition:0.6s
}
#power:active~main .Phone .powerbtn{
    transform: translateX(-50%) translateZ(1px) rotateX(0deg);
}
#power:checked~main .Phone .off{
    opacity: 1;
    z-index: 1;
}
#volumeup:active~main .Phone .volumbtn{
    transform: translateX(-50%) translateZ(5px) rotateX(2deg);
}
#volumedown:active~main .Phone .volumbtn{
    transform: translateX(-50%) translateZ(5px) rotateX(-2deg);
}

#volumeup:checked~main .volind{
    animation: popin 5s ;
}
#volumeup:checked~main .volind>.bar{
    top: 25%;
}


#volumedown:checked~main .volind{
    animation: popin 5s ;
}
#volumedown:checked~main .volind>.bar{
    top: 75%;
}

@keyframes popin {
    10%{right: 30px;}
    90%{right: 30px;}
}






//-------------------------------------------------------


.screen{
    transform-style: flat;
    *{
        width: 100%;
        height: 100%;
        border-radius: inherit;
        
    }
    .monitor{
        overflow: hidden;
        >*{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;top: 0;
        }
        .off{
            background: #000;
            opacity: 0;
            z-index: 0;
            transition: opacity 0.6s;
        }
        .lockscreen{
            background: rgb(58, 58, 58);
            .volind{
                overflow: hidden;
                position: absolute;
                width: 50px;
                height: 50%;
                background: rgb(71, 71, 71);
                right: -300px;
                top: 50%;
                transform: translate(0px,-50%);
                color: white;
                font-size: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                i{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .bar{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgb(167, 167, 167);
                    border-radius: 0px;
                    top: 0;
                    transition: 0.4s;
                }
            }
        }
        
    }
}