.bt {
  border: solid red 1px;
}

.df, .container .Phone .PhoneFront .topBar .camera, .container .Phone .PhoneFront .topBar {
  display: flex;
  align-items: center;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
}

main * {
  transform-style: preserve-3d;
}

main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  perspective: 2000px;
}
.container .Phone {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .container .Phone {
    width: 400px;
    height: 800px;
    transform: translate(-50%, -50%) translateZ(-800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
  }
}
@media screen and (min-width: 768px) {
  .container .Phone {
    width: 80%;
    height: 95vh;
    transform: translate(-50%, -50%) translateZ(-800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
  }
}
.container .Phone .phoneSide {
  position: absolute;
}
.container .Phone .PhoneFront, .container .Phone .PhoneBack {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .container .Phone .PhoneFront, .container .Phone .PhoneBack {
    border-radius: 40px;
  }
}
@media screen and (min-width: 768px) {
  .container .Phone .PhoneFront, .container .Phone .PhoneBack {
    border-radius: 40px;
  }
}
.container .Phone .PhoneFront {
  transform: translatez(20px);
  background: rgb(20, 20, 20);
}
.container .Phone .PhoneFront .screen {
  width: 93%;
  height: 96%;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(143, 143, 143);
}
.container .Phone .PhoneFront .topBar {
  width: 45%;
  height: 6%;
  background: rgb(20, 20, 20);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  justify-content: space-evenly;
}
.container .Phone .PhoneFront .topBar .camera {
  width: 12px;
  height: 12px;
  background: rgb(43, 43, 43);
  border-radius: 50%;
  justify-content: center;
}
.container .Phone .PhoneFront .topBar .camera .lenz {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: rgb(0, 0, 63);
}
.container .Phone .PhoneFront .topBar .speaker {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background: rgb(36, 36, 36);
}
.container .Phone .PhoneBack {
  transform: translateZ(-20px) rotateY(180deg);
  background: rgb(51, 51, 51);
  background: linear-gradient(338deg, rgb(51, 51, 51) 0%, rgb(97, 97, 97) 100%);
  background-size: cover;
}
.container .Phone .PhoneBack .Applelogo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}
.container .Phone .PhoneBack .cameraSection {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
.container .Phone .PhoneBack .cameraSection .cameraSides {
  position: absolute;
  background: rgb(46, 46, 46);
  border: solid 2px rgb(49, 49, 49);
}
.container .Phone .PhoneBack .cameraSection .frontside {
  width: 100%;
  height: 100%;
  transform: translateZ(5px);
  border-radius: 5px;
}
.container .Phone .PhoneBack .cameraSection .frontside .lens1, .container .Phone .PhoneBack .cameraSection .frontside .lens2, .container .Phone .PhoneBack .cameraSection .frontside .lens3 {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: rgb(37, 37, 37);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .Phone .PhoneBack .cameraSection .frontside .lens1 .outer, .container .Phone .PhoneBack .cameraSection .frontside .lens2 .outer, .container .Phone .PhoneBack .cameraSection .frontside .lens3 .outer {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .Phone .PhoneBack .cameraSection .frontside .lens1 .outer .inner, .container .Phone .PhoneBack .cameraSection .frontside .lens2 .outer .inner, .container .Phone .PhoneBack .cameraSection .frontside .lens3 .outer .inner {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: rgb(19, 19, 19);
}
.container .Phone .PhoneBack .cameraSection .frontside .lens1 {
  top: 10px;
  left: 10px;
}
.container .Phone .PhoneBack .cameraSection .frontside .lens2 {
  bottom: 10px;
  left: 10px;
}
.container .Phone .PhoneBack .cameraSection .frontside .lens3 {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.container .Phone .PhoneBack .cameraSection .leftside, .container .Phone .PhoneBack .cameraSection .rightside {
  width: 10px;
  height: 100%;
}
.container .Phone .PhoneBack .cameraSection .topside, .container .Phone .PhoneBack .cameraSection .bottomside {
  width: 100%;
  height: 10px;
}
.container .Phone .PhoneBack .cameraSection .bottomside {
  transform: rotateX(-90deg) translateZ(172.5px);
}
.container .Phone .PhoneBack .cameraSection .leftside {
  transform: rotateY(-90deg) translateZ(5px);
}
.container .Phone .PhoneBack .cameraSection .rightside {
  transform: rotateY(90deg) translateZ(172.5px);
}
.container .Phone .PhoneBack .cameraSection .topside {
  transform: rotateX(90deg) translateZ(5px);
}
.container .Phone .PhoneTop, .container .Phone .PhoneBottom {
  width: 320px;
  height: 40px;
  background: rgb(170, 170, 170);
}
.container .Phone .PhoneTop .leftCorner, .container .Phone .PhoneBottom .leftCorner {
  transform: translateX(50%) rotateY(-90deg) translateX(-40px) translateZ(-80px);
}
.container .Phone .PhoneTop .rightCorner, .container .Phone .PhoneBottom .rightCorner {
  transform: translateX(50%) rotateY(0deg) translateX(0px) translateZ(-40px);
}
.container .Phone .PhoneTop {
  transform: translateY(-20px) rotateX(90deg) translate(40px) rotateZ(180deg);
}
.container .Phone .leftCorner {
  left: -80px;
}
.container .Phone .rightCorner {
  right: 0px;
}
.container .Phone .corner {
  position: absolute;
  width: 2.5px;
  height: 40px;
}
.container .Phone .corner div {
  background: rgb(109, 109, 109);
  width: 100%;
  height: 100%;
  position: absolute;
}
.container .Phone .corner div:nth-child(0) {
  transform: rotateY(0deg) translatez(40px);
}
.container .Phone .corner div:nth-child(1) {
  transform: rotateY(3deg) translatez(40px);
}
.container .Phone .corner div:nth-child(2) {
  transform: rotateY(6deg) translatez(40px);
}
.container .Phone .corner div:nth-child(3) {
  transform: rotateY(9deg) translatez(40px);
}
.container .Phone .corner div:nth-child(4) {
  transform: rotateY(12deg) translatez(40px);
}
.container .Phone .corner div:nth-child(5) {
  transform: rotateY(15deg) translatez(40px);
}
.container .Phone .corner div:nth-child(6) {
  transform: rotateY(18deg) translatez(40px);
}
.container .Phone .corner div:nth-child(7) {
  transform: rotateY(21deg) translatez(40px);
}
.container .Phone .corner div:nth-child(8) {
  transform: rotateY(24deg) translatez(40px);
}
.container .Phone .corner div:nth-child(9) {
  transform: rotateY(27deg) translatez(40px);
}
.container .Phone .corner div:nth-child(10) {
  transform: rotateY(30deg) translatez(40px);
}
.container .Phone .corner div:nth-child(11) {
  transform: rotateY(33deg) translatez(40px);
}
.container .Phone .corner div:nth-child(12) {
  transform: rotateY(36deg) translatez(40px);
}
.container .Phone .corner div:nth-child(13) {
  transform: rotateY(39deg) translatez(40px);
}
.container .Phone .corner div:nth-child(14) {
  transform: rotateY(42deg) translatez(40px);
}
.container .Phone .corner div:nth-child(15) {
  transform: rotateY(45deg) translatez(40px);
}
.container .Phone .corner div:nth-child(16) {
  transform: rotateY(48deg) translatez(40px);
}
.container .Phone .corner div:nth-child(17) {
  transform: rotateY(51deg) translatez(40px);
}
.container .Phone .corner div:nth-child(18) {
  transform: rotateY(54deg) translatez(40px);
}
.container .Phone .corner div:nth-child(19) {
  transform: rotateY(57deg) translatez(40px);
}
.container .Phone .corner div:nth-child(20) {
  transform: rotateY(60deg) translatez(40px);
}
.container .Phone .corner div:nth-child(21) {
  transform: rotateY(63deg) translatez(40px);
}
.container .Phone .corner div:nth-child(22) {
  transform: rotateY(66deg) translatez(40px);
}
.container .Phone .corner div:nth-child(23) {
  transform: rotateY(69deg) translatez(40px);
}
.container .Phone .corner div:nth-child(24) {
  transform: rotateY(72deg) translatez(40px);
}
.container .Phone .corner div:nth-child(25) {
  transform: rotateY(75deg) translatez(40px);
}
.container .Phone .corner div:nth-child(26) {
  transform: rotateY(78deg) translatez(40px);
}
.container .Phone .corner div:nth-child(27) {
  transform: rotateY(81deg) translatez(40px);
}
.container .Phone .corner div:nth-child(28) {
  transform: rotateY(84deg) translatez(40px);
}
.container .Phone .corner div:nth-child(29) {
  transform: rotateY(87deg) translatez(40px);
}
.container .Phone .corner div:nth-child(30) {
  transform: rotateY(90deg) translatez(40px);
}
.container .Phone .PhoneBottom {
  bottom: 0;
  transform: translateY(20px) rotateX(-90deg) translate(40px);
}
.container .Phone .PhoneRight, .container .Phone .PhoneLeft {
  width: 40px;
  height: 720px;
  background: rgb(170, 170, 170);
}
.container .Phone .PhoneRight {
  transform: translateX(-20px) rotateY(-90deg) translateY(40px);
  left: 0;
}
.container .Phone .PhoneLeft {
  transform: translateX(20px) rotateY(90deg) translateY(40px);
  right: 0;
}

.screen {
  transform-style: flat;
}
.screen * {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.screen .display1 {
  background: #000;
}/*# sourceMappingURL=index.css.map */